<modal-opener class="no-js-hidden" data-modal="#PopupModal-specification-tab">
    <button id="ProductPopup-specification-tab" class="button product-spec-popup-btn focus-inset h3" type="button" aria-haspopup="dialog">
      <span>Specification</span> <span class="pop-up-icon">{% render 'icon-arrow' %}</span>
    </button>
</modal-opener>
<modal-dialog id="PopupModal-specification-tab" class="product-popup-modal product-spec-popup-modal" aria-hidden="true">
<div role="dialog" aria-label="Specification" aria-modal="true" class="product-popup-modal__dialog" tabindex="-1">
    <button id="ModalClose-specification" type="button" class="product-popup-modal__close modal-close-button focus-inset" aria-label="{{ 'accessibility.close' | t }}">
    {% render 'icon-close' %}
    </button>
    <h4 class="product-popup-modal__title h4">
    Specification
    </h4>
    <div class="product-popup-modal__content">
    <div class="product-spec-feat-wrapper">
        <div class="product-spec-column-left">
        <div class="spec-feat-item active">
            <h4 class="spec-feat-title h4">General 
            <div class='product-specifications__icon'>
            {% render 'icon-minus' %}
            {% render 'icon-plus' %}
            </div>
            </h4>
            <ul class="spec-feat-list" style="display: block;">
            <li><span class="spec-name">Series Name</span> <span class="spec-value">Regal™ S 690 Pro IR</span></li>
            <li><span class="spec-name">Manufacturer Color</span> <span class="spec-value">Stainless steel</span></li>
            <li><span class="spec-name">Color</span> <span class="spec-value">Stainless Steel</span></li>
            <li><span class="spec-name">Type</span> <span class="spec-value">Cart</span></li>
            <li><span class="spec-name">Fuel Type</span> <span class="spec-value">Natural Gas</span></li>
            </ul>
        </div>
        <div class="spec-feat-item">
            <h4 class="spec-feat-title h4">
            Cooking Area
                <div class='product-specifications__icon'>
                {% render 'icon-minus' %}
                {% render 'icon-plus' %}
                </div>
            </h4>
            <ul class="spec-feat-list">
            <li><span class="spec-name">Total</span> <span class="spec-value">1030 in²</span></li>
            <li><span class="spec-name">Primary Area</span> <span class="spec-value">750 in²</span></li>
            <li><span class="spec-name">Secondary Area</span> <span class="spec-value">280 in²</span></li>
            </ul>
        </div>
        <div class="spec-feat-item">
            <h4 class="spec-feat-title h4">
            Cooking System
            <div class='product-specifications__icon'>
                {% render 'icon-minus' %}
                {% render 'icon-plus' %}
                </div>
            </h4>
            <ul class="spec-feat-list">
            <li><span class="spec-name">Burners</span> <span class="spec-value">6</span></li>
            <li><span class="spec-name">Main Burner Output</span> <span class="spec-value">60000 BTU</span></li>
            <li><span class="spec-name">Rotisserie Output</span> <span class="spec-value">15000 BTU</span></li>
            <li><span class="spec-name">Side Burner Output</span> <span class="spec-value">10000 BTU</span></li>
            </ul>
        </div>
        <div class="spec-feat-item ">
            <h4 class="spec-feat-title h4">
            Features
            <div class='product-specifications__icon'>
                {% render 'icon-minus' %}
                {% render 'icon-plus' %}
                </div>
            </h4>
            <ul class="spec-feat-list">
            <li><span class="spec-name">Ice System</span> <span class="spec-value">Exterior</span></li>
            <li><span class="spec-name">Water System</span> <span class="spec-value">Exterior</span></li>
            <li><span class="spec-name">Filtration</span> <span class="spec-value">Yes</span></li>
            <li><span class="spec-name">Filtration Indicator</span> <span class="spec-value">yes</span></li>
            <li class="listed-values">
                <span class="spec-name">Technologies</span>
                <ul>
                <li><span class="spec-value">Stainless Steel Dual-Tube™ Burner System</span></li>
                <li><span class="spec-value">Stainless Steel Dual-Tube™ Burner System</span></li>
                <li><span class="spec-value">Stainless Steel Dual-Tube™ Burner System</span></li>
                <li><span class="spec-value">Stainless Steel Dual-Tube™ Burner System</span></li>
                </ul>
            </li>
            </ul>
        </div>
        </div>
        <div class="product-spec-column-right">
        <div class="spec-feat-item">
            <h4 class="spec-feat-title h4">
            Additional Information
            <div class='product-specifications__icon'>
                {% render 'icon-minus' %}
                {% render 'icon-plus' %}
                </div>
            </h4>
            <ul class="spec-feat-list">
            <li><span class="spec-value">250 sq. in. / 1,613 sq. cm. primary small cook box</span></li>
            <li><span class="spec-value">Two completely separate cook boxes</span></li>
            <li><span class="spec-value">Large cook box: Solid 9 mm stainless steel rod grids</span></li>
            <li><span class="spec-value">Small cook box: Heavy-duty cast iron cooking grids</span></li>
            <li><span class="spec-value">Infrared side burner: 8 mm stainless steel rod grids</span></li>
            <li><span class="spec-value">Stainless steel hood panel and cook box with cast aluminum end caps</span></li>
            <li><span class="spec-value">Stainless steel control panel and side shelves with cast aluminum condiment bins</span></li>
            <li><span class="spec-value">Enclosed black cabinet base with stainless steel cabinet doors</span></li>
            <li><span class="spec-value">Heavy-duty locking, swivel casters with level setting</span></li>
            <li><span class="spec-value">COB handle-mount grill light included</span></li>
            <li><span class="spec-value">Built-in control panel lights</span></li>
            </ul>
        </div>
        <div class="spec-feat-item">
            <h4 class="spec-feat-title h4">
            Dimensions
            <div class='product-specifications__icon'>
                {% render 'icon-minus' %}
                {% render 'icon-plus' %}
                </div>
            </h4>
            <ul class="spec-feat-list">
            <li><span class="spec-name">Grill Size</span> <span class="spec-value">1030 in²</span></li>
            <li><span class="spec-name">Overall Width</span> <span class="spec-value">70 inch(es)</span></li>
            <li><span class="spec-name">Overall Height</span> <span class="spec-value">70 inch(es)</span></li>
            <li><span class="spec-name">Overall Depth</span> <span class="spec-value">70 inch(es)</span></li>
            <li><span class="spec-name">Weight</span> <span class="spec-value">270 lb(s)</span></li>
            </ul>
        </div>
        </div>
    </div>
    </div>                   
</div>
</modal-dialog>