{% liquid
    assign block_settings = block.settings
    assign plain_text = block_settings.text | strip_newlines | strip_html | strip
  %}
  <div class="text-block text-{{ block_settings.alignment }}">
  {{ plain_text }}
</div>
 
  