<modal-opener class="no-js-hidden Wholesale-popup-modal laptop-hide" data-modal="#PopupModal-wholesale-filter-mobile">
    <div class="wholesale-filter-wrap" id="ProductPopup-wholesale-filter-mobile" aria-haspopup="dialog" type="button" >
            <div class="mobile-filter">
        <button id="ProductPopup-wholesale-filter-mobile " class=" button button--secondary filter-btn" type="button" aria-haspopup="dialog">
        {% render 'icon-mobile-filter' %}
        Filter and sort
        </button>
    </div>
        </div>
</modal-opener>
<modal-dialog id="PopupModal-wholesale-filter-mobile" class="product-popup-modal product-spec-popup-modal" aria-hidden="true">
<div role="dialog" aria-label="store-avaiability" aria-modal="true" class="product-popup-modal__dialog" tabindex="-1">
    <button id="ModalClose-wholesale-filter-mobile" type="button" class="product-popup-modal__close modal-close-button focus-inset" aria-label="{{ 'accessibility.close' | t }}">
    {% render 'icon-close' %}
    </button>
    <div class="filter-popup-modal__title">
        <h4 class="filter-title h4">Filter and sort</h4>
        <span class="filter-result">32 results</span>
    </div>
    <div class="product-popup-modal__content">
        <div class="filter-drawer-inner">
    <div class="filter-content">
        <div class="wholesale-filter-dropdown">
            <button class="filter-btn button">Filter
            {% render 'icon-dropdown' %}
            </button>
            <div class="filter-menu">
                    <button class="filter-btn back-button">
                        {% render 'icon-dropdown' %}  
                        Filter
                    </button>
                    <div class="filter-grp-wrap">
                        <label><input type="checkbox" value="red"> Red</label>
                        <label><input type="checkbox" value="green"> Green</label>
                        <label><input type="checkbox" value="blue"> Blue</label>
                        <label><input type="checkbox" value="yellow"> Yellow</label>
                    </div>
            </div>
        </div>
        <div class="mobile-sort-by" >
            <div class="select-wrap" >
                
                <div class="select-styled" >
                    Sort by:
                </div>
                <div class="select select-hidden" id="whole-sort-by">
                <span data-title="default-sort-by">Alphabetically, A-Z</span> 
                <span>
                {% render 'icon-dropdown' %}
                </span>
                </div>
                <ul class="select-options" style="display: none;">
                   <li data-title="Alphabetically: A-Z" class="is-selected"><input type="radio" name="sort-by" value="manual"><span class="sort-by-item">Alphabetically: A-Z</span></li>
                    <li data-title="Alphabetically: Z-A"><input type="radio" name="sort-by" value="manual"><span class="sort-by-item">Alphabetically: Z-A</span></li>
                    <li data-title="SKU"><input type="radio" name="sort-by" value="manual"><span class="sort-by-item">SKU</span></li>
                </ul>
            </div>
        </div>
        <div class="filter-btn-grp">
            <div class="btn-wrapper">
                <button class="apply button button--secondary">Apply</button>
                <button class="clear-btn button button--secondary " disabled>Clear All</button>
            </div>

        </div>
            
    </div>
        </div>
    </div>                   
</div>
</modal-dialog>