{% render 'text', block: block %}
{% stylesheet %}
  .text-left {text-align: left;}
  .text-center {text-align: center;}
  .text-right {text-align: right;}
{% endstylesheet %}

{% schema %}
{
  "name": "Text",
  "settings": [
    {
      "type": "richtext",
      "id": "text",
      "label": "Text"
    },
    {
      "type": "text_alignment",
      "id": "alignment",
      "label": "Alignment"
    }
  ],
  "presets": [
    { "name": "Text" },
    // {
    //   "name": "Text 2",
    //   "settings": {
    //     "text": "<p>Hello, world!</p>",
    //      "alignment": "center"
    //   }
    // }
  ]
}
{% endschema %}
