
.mobile-menu {
    position: absolute;
    width: 100%;
    height: 100vh;
    left: 0;
    top: calc(100% - .4rem);
    visibility: hidden;
    max-height: 0; /* This is needed to fix a bug on iOS, DO NOT REMOVE */
    z-index: 1;
    opacity: 0;
    color: var(--text-color);
    font-size: calc(var(--base-text-font-size) - (var(--default-text-font-size) - 16px));
    transform: scale(0.9);
    transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out, visibility 0.25s ease-in-out, max-height 0s linear 0.25s;
    will-change: transform;
  }
  
  .mobile-menu .icon--arrow-right,
  .mobile-menu .icon--arrow-left {
    width: 8px;
    height: 12px;
  }
  
  .mobile-menu[aria-hidden=false] {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
    transition: opacity 0.4s cubic-bezier(0, 1, 0.4, 1), transform 0.4s cubic-bezier(0.18, 1.25, 0.4, 1), visibility 0.4s linear;
  }
  
  .mobile-menu__inner {
    position: relative;
    max-width: 100vw;
    height: 100vh;
    overflow: hidden;
    border-top: 1px solid #F0F1F7;
}
.shopify-section-header-scroll[class*="-header-group"] {
  --announ-height: 0px;
}
.mobile-menu, .mobile-menu__inner {
  height: calc(100dvh - var(--header-height,0) - var(--announ-height, 40px) + 2px);
}
  
  .mobile-menu .icon--nav-triangle-borderless {
    position: absolute;
    bottom: 100%;
    left: 20px;
    width: 18px;
    height: 8px;
    z-index: 1;
  }
  
  .mobile-menu__panel {
    position: relative;
    height: 100%;
    background: #FFF;
    overflow-y: auto;
    overflow-x: hidden;
    -ms-scroll-chaining: none;
        overscroll-behavior: none;
    -webkit-overflow-scrolling: touch;
    transition: transform 500ms cubic-bezier(0.23, 1, 0.32, 1), visibility 500ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .mobile-menu__panel.is-nested {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    z-index: 1;
    transform: translateX(100%);
  }
  
  .mobile-menu__section {
    padding: 12px 0;
  }
  
  .mobile-menu__section--loose {
    padding-top: 18px;
    padding-bottom: 18px;
  }
  
  .mobile-menu__section:not(:last-child) {
    border-bottom: 1px solid var(--border-color);
  }
  
  .mobile-menu__section.is-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background: var(--secondary-background);
    z-index: 1;
  }
  
  .mobile-menu__nav {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .mobile-menu__nav-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 8px 0 7px 0;
  }
  
  .mobile-menu__back-button {
    display: block;
    width: 100%;
    text-align: left;
  }
  
  .mobile-menu__back-button svg {
    margin-right: 8px;
    vertical-align: baseline;
  }
  
  .mobile-menu__nav-list {
    margin-top: 2px;
  }
  
  .mobile-menu__nav-list-toggle {
    width: 100%;
    text-align: left;
    padding: 4px 0; /* allows to increase touch area a bit */
  }
  
  .mobile-menu__nav-list-toggle svg {
    width: 12px;
    height: 8px;
    margin-left: 12px;
    transition: transform 0.3s ease-in-out;
  }
  
  .mobile-menu__nav-list-toggle[aria-expanded=true] svg {
    transform: rotateZ(180deg);
  }
  
  .mobile-menu__nav-list-item {
    margin-bottom: 22px;
  }
  
  .mobile-menu__nav-collapsible {
    height: 0;
    overflow: hidden;
    transition: 0.3s ease-in-out;
  }
  
  .mobile-menu__nav-collapsible-content {
    margin-top: 4px;
  }
  
  .mobile-menu__promo {
    display: block;
    padding: 20px 0 25px 0;
    text-align: center;
  }
  
  .mobile-menu__image-wrapper {
    margin-bottom: 22px;
    border-radius: 3px;
    overflow: hidden;
  }
  
  .mobile-menu__image-heading {
    display: block;
    margin-bottom: 0;
    font-size: calc(var(--base-text-font-size) - (var(--default-text-font-size) - 18px));
  }
  
  .mobile-menu__image-text {
    font-size: calc(var(--base-text-font-size) - (var(--default-text-font-size) - 15px));
  }
  
  .mobile-menu__promo-list {
    display: flex;
    flex-flow: row nowrap;
    margin-left: -10px;
    margin-right: -10px;
  }
  
  .mobile-menu__promo-list .mobile-menu__promo-item {
    flex: 0 0 auto;
    width: 81%;
    white-space: normal;
    scroll-snap-align: center;
  }
  
  .mobile-menu__promo-list .mobile-menu__promo {
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .scroller .mobile-menu__promo-list::before {
    content: "";
    flex: 0 0 20px;
  }
  
  .scroller .mobile-menu__promo-list::after {
    content: "";
    flex: 0 0 13px;
  }
  
  @media screen and (min-width: 641px) {
    .mobile-menu .icon--nav-triangle-borderless {
      left: 40px;
    }
  }
  
  /* States */
  .mobile-menu[aria-hidden=false] .mobile-menu__panel.is-open {
    transform: translateX(0);
    visibility: visible;
  }
  
  /* Help icons */
  .mobile-menu__help-wrapper {
    display: flex;
    align-items: center;
  }
  
  .mobile-menu__help-wrapper .icon--bi-phone {
    margin-right: 16px;
    width: 24px;
    height: 24px;
  }
  
  .mobile-menu__help-wrapper .icon--bi-email {
    margin-right: 18px;
    width: 22px;
    height: 22px;
  }
  
  .mobile-menu__help-wrapper + .mobile-menu__help-wrapper {
    margin-top: 18px;
  }
  .header__mobile-nav {
    display: inline-block;
  }
  .search_modal_open .header__mobile-nav-toggle,
  .header__mobile-search-toggle{
    display: none;
  }
  
  .search_modal_open .header__mobile-search-toggle {
    display: block;
  }
  .header__mobile-search-toggle,
  .header__mobile-nav-toggle {
    background: none;
    border: none;
    box-shadow: none;
    outline: none;
    padding: 0;
  }
  .icon-state {
    position: relative;
    vertical-align: middle;
  }
  .header__mobile-nav-toggle .icon {
    color: #ED1C24;
}

.header__mobile-nav-toggle[aria-expanded="true"] .icon {
    color: #ED1C24;
}
.overflow-hide .header__mobile-nav-toggle .icon.icon--hamburger-two,
.header__mobile-nav-toggle .icon.icon--close { display: none;}

.overflow-hide .header__mobile-nav-toggle .icon.icon--close { display: block;}
.mobile-menu__panel {
    overflow: visible;
}

.mobile-menu__panel .mobile-menu__section {
    background: #fff;
    border-bottom: none;
}

.mobile-menu__panel .mobile-menu__section .mobile-menu__nav li .mobile-menu__nav-link {
  font-weight: 400;
  font-size: 20px;
  line-height: 110%;
  color: rgb(var(--color-foreground, #3F3F3F));
  padding: 16px 20px;
  background-color: transparent;
  border: 0;
  font-family: var(--font-heading-family);
  letter-spacing: var(--font-heading-letter-spacing, -0.3px);
  text-decoration: none;
}
.mobile-menu .icon-arrow {
  border-radius: var(--border-radius-button, 100px);
  background: rgb(var(--color-button-tertiary-background, #F1F1F1));
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mobile-menu__panel .mobile-menu__section .mobile-menu__nav li .mobile-menu__nav-link .icon {
    color: rgb(var(--color-foreground));
    width: 14px;
    height: 14px;
}

.mobile-menu__panel .mobile-menu__section .mobile-menu__nav li.view-all-link {
    margin-top: 10px;
    padding: 8px 20px;
}

.mobile-menu__panel .mobile-menu__section .mobile-menu__nav li.view-all-link a svg, .mobile-menu__panel.mobi-child-level-three .mobile-menu__section ul li .mobile-menu__nav-link.view-all svg{
  width: 15px;
  height: 15px;
}

.mobile-menu__panel .mobile-menu__section .mobile-menu__nav li.view-all-link a{
  position: relative;
  max-width: max-content;
  padding: 9px 20px;
  border-radius: var(--border-radius-button, 100px);
  background: rgb(var(--color-button-tertiary-background, #F1F1F1));
  text-decoration: none;
}

.mobile-menu__panel .mobile-menu__section .mobile-menu__nav li.view-all-link a:after{
  width: calc(100% - 40px);
  content: "";
  background-color: #000;
  height: 2px;
  position: absolute;
  bottom: 0;
  display: none;
}

.mobile-menu__panel .mobile-menu__section.is-sticky {
    padding: 3px 20px !important;
    border: none;
    display: flex;
    height: 45px;
    border-bottom: 1px solid var(--Primary-Light-Grey-2, #E2E8E9);
}

.mobile-menu__panel .mobile-menu__section.is-sticky .mobile-menu__nav-link {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: rgb(var(--color-foreground, #3F3F3F));
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    padding: 0;
    text-decoration: none;
}

.mobile-menu__panel .mobile-menu__section.is-sticky .mobile-menu__nav-link .cat-icon {
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mobile-menu__panel .mobile-menu__section.is-sticky .mobile-menu__back-button {
    font-style: normal;
    font-weight: 600;
    font-size: 0;
    line-height: 100%;
    color: #08202D;
    width: auto;
    background: none;
    border: none;
    box-shadow: none;
    outline: none;
    font-family: var(--font-body-family);
    order: -1;
}

.mobile-menu__panel .mobile-menu__section.is-sticky .mobile-menu__back-button svg {
    margin: 0;
    width: 14px;
    height: 14px;
}

.mobile-menu__panel[class*=mobi-child-level-] .mobile-menu__section {
    padding-top: 10px;
}

.mobile-menu__panel[class*=mobi-child-level-] .mobile-menu__section:not(.is-sticky) {
    overflow-y: auto;
    overflow-x: hidden;
    /* height: calc(100% - 40px); */
    height: calc(100% - var(--announ-height) - var(--header-height) - 46px);
    height: calc(100% - 46px);
}

.mobile-menu__panel[class*=mobi-child-level-] .mobile-menu__section:not(.is-sticky)::-webkit-scrollbar {
    width: 4px;
}

.mobile-menu__panel[class*=mobi-child-level-] .mobile-menu__section:not(.is-sticky)::-webkit-scrollbar-track {
    background: #F2F3F7;
}

.mobile-menu__panel[class*=mobi-child-level-] .mobile-menu__section:not(.is-sticky)::-webkit-scrollbar-thumb {
    background: #ED1C24;
}

.mobile-menu__panel.mobi-child-level-one > .mobile-menu__section {
    padding-top: 14px;
}

.mobile-menu__panel.mobi-child-level-one > .mobile-menu__section ul li:not(.mobile-brand) .mobile-menu__nav-link {
    position: relative;
    padding-left: 60px;
}

.mobile-menu__panel.mobi-child-level-one > .mobile-menu__section ul li:not(.mobile-brand) .mobile-menu__nav-link .cat-icon {
    position: absolute;
    left: 20px;
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mobile-menu__panel.mobi-child-level-one > .mobile-menu__section ul li:not(:last-child) {
    margin-bottom: 10px;
}


.mobile-menu__panel .mobi-child-level-two.mobile-menu__panel ul li .mobile-menu__nav-link {
  font-size: 14px;
}
.mobile-menu__panel.mobi-child-level-three .mobile-menu__section ul li .mobile-menu__nav-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  color: rgb(var(--color-foreground, #3F3F3F));
  text-decoration: none;
}

.mobile-menu__panel .guide-and-promos {
    margin-top: 14px;
}

.mobile-menu__panel .guide-and-promos .guide-wrapper {
  padding: 24px 20px;
}

.mobile-menu__panel .guide-and-promos .guide-wrapper a {
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: var(--font-heading-weight);
  font-size: 14px;
  line-height: var(--font-heading-line-height);
  color: rgb(var(--color-foreground-title));
  gap: 6px;
}
.mobile-menu__panel .guide-and-promos .guide-wrapper a i {
  display: flex;
  color: rgb(var(--color-foreground-title));
}

.mobile-menu__panel .guide-and-promos .guide-wrapper a:hover,
.mobile-menu__panel .guide-and-promos .guide-wrapper a:hover i {
  color: rgb(var(--color-foreground-title));
}

.mobile-menu__panel .promos-wrapper {
    width: 100%;
    padding: 24px 26px;
    border-top: 1px solid #E6E8F0;
    display: flex;
    flex-flow: column;
    gap: 16px;
}

.mobile-menu__panel .promos-wrapper a {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    color: #ED1C24 !important;
    text-align: left;
}

.mobile-menu__panel .promos-wrapper a:hover {
    color: #001424 !important;
}

.mobile-menu__panel .guide-and-promos.not-in-megamenu .promos-wrapper h6 {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #ED1C24;
    margin: 0 0 2px 0;
}

.mobile-menu__panel .guide-and-promos.not-in-megamenu .promos-wrapper a {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #001424 !important;
}

.mobile-menu__panel .guide-and-promos.not-in-megamenu .promos-wrapper a:hover {
    color: #ED1C24;
}

.mobile-menu__inner .brand-menu-mobile .mobile-menu__panel {
    padding: 14px 0 0 0;
}

.mobile-menu__inner .brand-menu-mobile .mobile-menu__section .mobile-menu__nav li a:not(.mobile-menu__nav-link) {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #71767E;
    padding: 10px 24px;
}

.mobile-menu__inner .brand-menu-mobile .mobile-menu__section .mobile-menu__nav li a.mobile-menu__nav-link {
    display: none;
}

  @media (-moz-touch-enabled: 1), (hover: none) {
    .touch-area {
        position: relative;
    }
  
    .touch-area::before {
      position: absolute;
      content: "";
      top: -8px;
      right: -8px;
      left: -8px;
      bottom: -8px;
      transform: translateZ(0);
      /* Needed to avoid a glitch on iOS */
    }
  }
  .mobile-menu__panel {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: space-between;
    padding-bottom: 12px;
}
.mobile-buttons {
  padding: 24px 20px;
  position: absolute;
  bottom: 11%;
  bottom: 0;
  width: 100%;
}
.mobile-buttons > * {
  border: 1px solid #08202D;
  width: 100%;
  padding: 15px 30px;
  color: #08202D;
  font-size: 14px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: -0.14px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  height: 50px;
}
.mobile-buttons > .link-text {
  background: #ED1C24;
  color: #fff;
  border: none;
  margin: 0;
}
.mobi-child-level-three ul.mobile-menu__nav {
  display: flex;
  flex-direction: column;
}
.mobile-menu__panel.mobi-child-level-three ul.mobile-menu__nav li:first-child {
  order: 1;
  padding: 8px 20px;
}
.mobile-menu__panel.mobi-child-level-three .mobile-menu__section ul li:first-child .mobile-menu__nav-link {
  color: rgb(var(--color-button-tertiary-text, #3F3F3F));
  font-family: var(--font-button-family);
  font-size: 12px;
  font-weight: var(--font-button-weight, 500);
  line-height: 100%; 
  letter-spacing: var(--font-button-letter-spacing, 0.3px);
  text-transform: uppercase;
  max-width: max-content;
  position: relative;
  padding: 15px 20px;
  border-radius: var(--border-radius-button, 100px);
  background: rgb(var(--color-button-tertiary-background, #F1F1F1));
  text-decoration: none;
} 

.mobile-menu__panel.mobi-child-level-three .mobile-menu__section ul li:first-child .mobile-menu__nav-link:after{
  width: calc(100% - 40px);
  content: "";
  background-color: #000;
  height: 2px;
  position: absolute;
  bottom: 0;
  display: none;
}
.menu-drawer__bottom {
    padding: 12px 20px;
}