.section-list-collections .page-header {
  margin-top: 2.4rem;
  margin-bottom: 1.6rem;
}

.collection-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}
@media screen and (min-width: 750px) {
  .collection-wrapper {
    gap: 4rem;
  }
}
.collection-wrapper--empty {
  display: block;
}

.collection {
  position: relative;
}
.collection-filters {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 990px) {
  .collection-filters {
    display: block;
  }
}
.collection-product-list {
  list-style: none;
  padding: 0;
  margin-top: 1.6rem;
  margin-bottom: 0;
}
@media screen and (min-width: 990px) {
  .collection-product-list {
    margin-top: 0;
  }
}
.collection--empty .title-wrapper {
  margin-top: 10rem;
  margin-bottom: 15rem;
}

.collection-product {
  position: relative;
}
.collection-product .loading-overlay {
  inset: 0;
  z-index: 6;
  display: none;
  width: 100%;
  padding: 0 5rem;
  background-color: rgba(var(--color-background), 0.7);
}
.collection-product.loading > .loading-overlay {
  display: block;
}
.collection-product.loading > .loading-overlay .loading-overlay__spinner {
  top: 15rem;
}

.collection-product-list {
  display: grid;
  gap: 4rem 1.2rem;
}

/* Custom style for collection with sidebar */
.collection-grid-section .full-collection.enabled-sidebar{ display:flex; gap:16px;  }
.collection-grid-section .full-collection.enabled-sidebar .facets__wrapper{position:inherit;transform:none;visibility:visible; width:auto; background:transparent; }
.collection-grid-section .full-collection.enabled-sidebar .collection-sidebar{ max-width:323px; width:100%; }
.collection-grid-section .full-collection.enabled-sidebar .collection-sidebar:empty{display: none;}
.collection-grid-section .full-collection.enabled-sidebar .facets__wrapper-container{ margin-right:3.2rem; padding-left:0; padding-right:0; overflow:visible;  }
.collection-grid-section .collection-wrapper.enabled-sidebar .facets__container .facets__open-button{ display:none; }
.collection-grid-section .collection-wrapper.enabled-sidebar .facets__summary-icon{ background-color: rgb(var(--color-background-input));  }
.collection-grid-section .collection-wrapper.enabled-sidebar .facets__summary-icon svg{ color: rgb(var(--color-foreground)); }
.collection-grid-section .collection-wrapper.enabled-sidebar .facets__summary{ padding: 2rem 0; }
.collection-grid-section .collection-wrapper.enabled-sidebar .facets__summary-inner{ padding: 3px 0; }
.collection-grid-section .collection-wrapper.enabled-sidebar .facets__disclosure:first-of-type{ margin-top:0; }
.collection-grid-section .product-card .card__collection-title{ display:block; }
/* @media screen and (min-width:990px){
 .collection-grid-section .collection-wrapper.enabled-sidebar .facets__container-top{grid-template-columns: auto auto;}
} */
@media screen and (max-width:749px){
  .collection-product-list[class*="1-mobile"] {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
 .collection-product-list .collection-product-list--2-mobile .card__link{ padding:12px 16px; }
 .collection-grid-section .full-collection.enabled-sidebar .collection-sidebar{ display:none; }
.collection-product-list--2-mobile {grid-template-columns: repeat(2, 1fr);}
.collection-grid-section .pagination-wrapper{ margin-top:4rem; }
}
@media screen and (min-width: 750px) {
  .collection-product-list {
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem 1.6rem;
  }
}
@media screen and (min-width: 1200px) {
  .collection-product-list {
    grid-template-columns: repeat(3, 1fr);
    gap: 7.2rem 1.6rem;
  }
}
@media screen and (max-width: 575px) {
  .collection-product-list--2-mobile .collection-product-card .card-information__wrapper--left {
    padding-left: 0;
  }
  .collection-product-list--2-mobile .collection-product-card .card-vendor,
  .collection-product-list--2-mobile .collection-product-card .card__sku,
  .collection-product-list--2-mobile .collection-product-card .card__collection-title {
    font-size: 1rem;
  }
  .collection-product-list--2-mobile .collection-product-card .card__title {
    font-size: 1.4rem;
  }
  .collection-product-list--2-mobile .collection-product-card .card__description {
    font-size: 1rem;
    margin-top: 0.6rem;
  }
  .collection-product-list--2-mobile .collection-product-card .card__sku {
    margin-top: 0.5rem;
  }
  .collection-product-list--2-mobile .collection-product-card .product-parameters {
    margin-top: 0.8rem;
  }
  .collection-product-list--2-mobile .collection-product-card .card__badge {
    position: absolute;
    top: 0.8rem;
    left: 0.8rem;
    right: 0.8rem;
    max-width: 100%;
  }
  .collection-product-list--2-mobile .collection-product-card .badge {
    font-size: 1.1rem;
  }
  .collection-product-list--2-mobile .collection-product-card .card-information {
    padding: 0.8rem 0 0;
  }
  .collection-product-list--2-mobile .collection-product-card .price {
    font-size: 1.4rem;
  }
  .collection-product-list--2-mobile .collection-product-card .card__link {
    bottom: 1rem;
    padding: 1.2rem 1.6rem;
  }
}
.collection-product-card .card__link{ padding:15px 20px; }
.collection-product-card .card__link{ font-weight:var(--font-button-weight-medium); }
.collection-product-list img.img-scale {
  transition: transform var(--duration-long) ease-in-out;
}
.collection-product-list .collections-grid__card:hover img.img-scale {
  transform: scale(1.05);
}
@media screen and (min-width: 1200px) {
  .collection-product-list .collection-product-card {
    height: 100%;
  }
}

.title-wrapper-empty .title .link {
  font-size: inherit;
}

/*--------------filter group css----------------*/
.filters-wrapper {
  display: flex;
  gap: 24px;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  margin-top: 4rem;
}
.filter-group-wrapper {
  display: flex;
  gap: 6px;
  align-items: center;
  flex: 1 0 0;
  width: 100%;
}
.filter-group {
  flex: 1 0 0;
  position: relative;
}
.filter-dropdown {
  width: 100%;
  display: flex;
  padding: 13px 24px;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  border-radius: var(--border-radius-button, 100px);
  border: 1px solid rgb(var(--color-border-input, #F1F1F1));
  background: rgb(var(--color-background-input, #F1F1F1));
  cursor: pointer;
  position: relative;
  text-transform: capitalize;
}
.filter-group:after {
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewBox='0 0 10 10' fill='none'%3E%3Cpath d='M1.5 3.5L5 7L8.5 3.5' stroke='%233F3F3F' stroke-width='1.3' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  height: 10px;
  width: 10px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 20px;
  z-index: 9;
  color: #000;
  left: auto;
  margin: auto;
}
.filter-group.open:after {
  transform: rotate(-180deg);
}
.filter-button-wrapper {
  display: flex;
  gap: 6px;
}
.filter-button-wrapper button {
    flex: 1 0 0;
}
.dropdown-list {
  position: absolute;
  z-index: 99;
  border-radius: 20px;
  background: rgb(var(--color-background-input, #F1F1F1));
  width: 100%;
  top: calc(100% + 4px);
  overflow: hidden;
  display: none;
}
.filter-group.open .dropdown-list {
  display: block;
}
.dropdown-list li {
  padding: 12px 16px;
  cursor: pointer;
  color: rgb(var(--color-foreground, #3F3F3F));
  font-family: var(--font-body-family);
  font-size: 12px;
  font-weight: var(--font-body-weight, 400);
  line-height: 130%;
  letter-spacing: var(--font-body-letter-spacing);
}
.dropdown-list li:hover, .dropdown-list li.selected {
  background-color: #ffffff;
}
.filter-dropdown.disabled {
    opacity: 0.5;
    pointer-events: none;
}
.product-filters .section-header__title { margin-bottom: 16px; }
.product-filters .section-header__subtitle {
    font-weight: 400;
    text-transform: unset;
    font-family: var(--font-body-family);
}
@media screen and (max-width: 767px) {
  .filters-wrapper { flex-direction: column; }
  .filter-button-wrapper { width: 100%; }
  .filter-group-wrapper { flex-direction: column; }
  .filter-group { width: 100%; }
}
/* Style for sidebare component */
/* .template-collection-collection-list-view .collection-grid-section .collection-wrapper.enabled-sidebar .facets__container-top.two-column{  grid-template-columns: 1fr 1fr; } */


/* Collection grid banner */
.collection-product-card.normal,
.collection-product-card.big {
  grid-column: 1/3;
}

.coll_grid--banner {
  position: relative;
  display: flex;
}
.coll_grid--banner:before {
  content: '';
  padding-bottom: var(--padding-bottom);
  --padding-bottom: 100%;
}
.coll_grid--banner.big:before {
  padding-bottom: calc(var(--padding-bottom)/2);
}

.call_grid--banner_content {
  position: relative;
  z-index: 1;
  padding: 2.4rem;
  width: 100%;
  --color-foreground-secondary: 255, 255, 255;
  --color-foreground-title: 255, 255, 255;
  --color-foreground: 255, 255, 255;
}
.coll_grid--banner.big .call_grid--banner_content {  
  padding-right: 5.6rem;
}
.call_grid--banner_content h6, .call_grid--banner_content h3 {
  margin-block: 0;
}
.call_grid--banner_content h6 {
  margin-bottom: 1.6rem;
}
.call_grid--banner_content .rte {
  margin-top: 0.8rem;
}

.coll_grid--banner .coll_grid--banner_img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.co_gr--ba_im--image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--border-radius-main, 6px);
  background: rgb(var(--color-background));
}

@media (min-width: 990px){
  .call_grid--banner_content {
    padding: 3.2rem;
  }  
  .call_grid--banner_content h6 {
    margin-bottom: 2.4rem;
  }
  .collection-product-card.normal {
    grid-column: auto;
  }
  .coll_grid--banner.big .call_grid--banner_content {
    max-width: calc(50% - 0.8rem);
    padding-right: 0;
  }
}
@media (min-width: 1200px){
  .collection-product-card.big {
    grid-column: 2/4;
  }
}
/* Collection grid banner */

/* custom style for button option  */
.collection-grid-section .quick-add__submit.button.button--full-width{ padding-top: 15px; padding-bottom: 15px;display: flex;align-items: center;justify-content: center;margin-top: 1.5rem; text-transform: capitalize; font-size: calc(var(--font-text-card-scale) * 1.4rem);  }
/* .collection-grid-section .custom-quantity-inputs{ min-height:4.2rem; display:flex; align-items:center; margin-top:1.6rem; background-color:rgb(var(--color-background-input));width: 100%; } */
.collection-grid-section input.quantity__input,
.collection-grid-section .calc_width { font-size:calc(var(--font-body-scale) * 1.4rem); border-radius:0; font-weight:var(--font-subtitle-weight);  }
.collection-grid-section .quantity__button span.svg-wrapper svg{ width: 0.9rem; height: auto; }
.collection-grid-section .quantity__button{ width: 4.9rem; height:4.2rem; }
.collection-grid-section .sticky-summary{ display: flex; justify-content: center; padding: 1.6rem 5rem; align-items: center;  height: auto; position: fixed;bottom: 0;right: 0; width: 100%; z-index: 100; opacity:0; border-top: 1px solid rgb(var(--color-border), 0.2); pointer-events: none;  }
.collection-grid-section .sticky-summary.active{ opacity:1; pointer-events: auto; }
.collection-grid-section .sticky-items{ display:flex; width:100%; align-items: center; justify-content: space-between; }
.collection-grid-section .sticky-items a.add-tocart-button{ text-align:center; padding:1.4rem 2rem;  }
.collection-grid-section .sticky-items p.selected-items{ margin:0; line-height: var(--font-heading-line-height);  font-size: calc(var(--font-body-scale) * 1.6rem); font-weight:var(--font-subtitle-weight) }
.collection-grid-section .custom-card-inner{ position:relative; }
.collection-grid-section .quantity__input:focus-visible, .quantity__input:focus{ outline-offset: 0;border: none;box-shadow: none;outline: none; }
@media screen and (max-width: 767px) {
  .collection-grid-section .sticky-summary{ padding:1.6rem 2rem; }
  /* .collection-grid-section .sticky-items a.add-tocart-button{ width:100%; } */
  .collection-grid-section .sticky-items{ 
    /* flex-direction:column; align-items: flex-start; */
    gap:8px; 
}
}
/* custom style for button option  */