
.wholesale-order .search-bar {
    padding: 60px 0 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 16px;
}
.wholesale-order select.select-hidden:not(.mobile-sort-by select.select-hidden) {
    display: none;
}
.wholesale-order .search-bar select,
.wholesale-order .searchbar {
    height: 44px;
    padding: 13px 24px;
    display: flex;
    align-items: center;
    gap: 16px;
    background: none;
    appearance: none;
    margin: 0;
    background-color: rgb(var(--color-background-input));
    border-radius: var(--border-radius-button);
}

.wholesale-order .search-bar select {
    padding-right: 29px;
}

.wholesale-order li.page-item.disabled {
    pointer-events: none;
    opacity: 0.4;
}

.wholesale-order .select select {
    display: none;
}

.select-styled {
    height: 44px;
    display: flex;
    align-items: center;
    gap: 16px;
    background: none;
    margin: 0;
    position: relative;
    text-transform: uppercase;
    padding: 0 50px 0 20px;
    min-width: 120px;
    cursor: pointer;
    background-color: rgb(var(--color-background-input));
    border-radius: var(--border-radius-button);
}

.wholesale-order .custom-select {
    position: relative;
    display: inline-block;
}

.wholesale-order .product-item-wrapper.inner-variant-pro-wrapper {
    padding-left: 70px;
    display: none;
}

.wholesale-order .product-item-wrapper.inner-variant-pro-wrapper.active {
    display: block;
}

.wholesale-order .product-item.has-variants > .product-wrapper {
    border-bottom: 1px solid rgb(var(--color-border), 1);
    display: flex;
    justify-content: space-between;
}

.wholesale-order .custom-select .select {
    position: relative;
}

.select-wrap .select-options {
    list-style: none;
    padding-left: 0;
    position: absolute;
    background: var(--bs-body-bg);
    padding: 20px;
    width: auto;
    white-space: nowrap;
    margin-bottom: 0;
    top: 100%;
    margin-top: 10px;
    min-width: 100%;
    border-radius: 20px;
    background-color: rgb(var(--color-background-input));
    z-index: 2;
}
.select-wrap .select-options li{
    position: relative;
}
.select-wrap .select-options li input{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  opacity: 0;
  margin: 0;
  cursor: pointer;
    z-index: 1;
}
.select-options li + li {
    margin-top: 0.5rem;
}

.select-options li {
    cursor: pointer;
}

.select-options li.is-selected {
    font-weight: 500;
}

.wholesale-order .view-btn {
    display: flex;
    align-items: center;
    gap: 5px;
}

.wholesale-order .view-btn span {
    display: flex;
    width: 55px;
    height: 55px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border-radius: 4px;
    cursor: pointer;
}

.wholesale-order .view-btn span svg {
    pointer-events: none;
}

.wholesale-order .searchbar {
    flex: 1 0 auto;
}

.wholesale-order .searchbar input {
    border: none;
    padding: 0;
    margin: 0;
    opacity: 1;
    background: transparent;
    color: rgb(var(--color-foreground));
    flex: 1 0 0;
}

.wholesale-order .searchbar input:focus-visible {
    outline: none;
}

.wholesale-order .product-header {
    display: grid;
    grid-template-columns: 400px 250px 250px 1fr;
    background: rgb(var(--color-foreground));
    color: rgb(var(--color-button-secondary-text));
    gap: 20px;
    align-items: center;
    font-size: calc(var(--font-subtitle-scale) * 1rem);
    font-weight: var(--font-subtitle-weight);
    line-height: 150%;
    padding: 16px 16px;
}

.wholesale-order .product-item .product-wrapper {
    padding: 16px 16px;
    align-items: center;
    gap: 20px;
    align-self: stretch;
    display: grid;
    grid-template-columns: 400px 250px 250px 1fr;
}

.wholesale-order .product-header span {
    text-transform: uppercase;
    letter-spacing: var(--font-button-letter-spacing);
}
.wholesale-order .product-header span.quant-title{
    display: none;
}

.wholesale-order .product-item {
    border-bottom: 1px solid rgb(var(--color-border), 1);
}

.wholesale-order .product-list {
    padding: 20px 0 0;
}

.wholesale-order .product-wrap {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    text-decoration: none;
}

.wholesale-order .product-wrap img {
    max-width: 100%;
    width: 80px;
    height: 80px;
    flex-shrink: 0;
    aspect-ratio: 1/1;
    object-fit: contain;
}

.wholesale-order .quantity-btn-wrap {
    display: flex;
    gap: 6px;
    justify-content: flex-end;
}

.wholesale-order .order-bulk .product-wrapper .title {
    margin: 0;
}

.wholesale-order .quantity-selector.disabled {
    opacity: 0.4;
}

.wholesale-order .quantity-selector button {
    border: none;
    padding: 0;
    margin: 0;
    line-height: 0;
}

.wholesale-order .quantity-selector {
    display: flex;
    height: 42px;
    min-width: 142px;
    padding: 12px 24px 10px 24px;
    justify-content: center;
    align-items: center;
    gap: 22px;
    font-family: ITCClearfaceRegular;
}

.wholesale-order .quantity-selector input.qty-selector {
    background: transparent;
    border: none;
    width: 40px;
    text-align: center;
    padding: 0;
}

.wholesale-order button.select-btn {
    border-radius: 100px;
    display: flex;
    padding: 12px 30px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
    color: rgb(var(--color-button-secondary-text));
    text-transform: uppercase;
    border: 1px solid transparent;
    font-family: SaaSeriesED W05 Regular;
}


.wholesale-order span.title a {
    text-decoration: none;
    color: inherit;
}

.wholesale-order .varient-select-item .product-wrap {
    padding-left: 80px;
}

.wholesale-order .varient-select-item {
    position: relative;
    display: none;
}

.wholesale-order .product-item.active .varient-select-item {
    display: block;
}

.wholesale-order .varient-select-item .product-wrapper {
    border: none;
}

.wholesale-order .mobile-header {
    display: none;
}

.wholesale-order .mini-cart-sticky {
    position: fixed;
    bottom: 0;
    z-index: 1;
    width: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    /* display: none; */
    justify-content: space-between;
    align-items: center;
    color: rgb(var(--color-button-secondary-text));
    padding: 16px 50px;
    align-items: start;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    background: rgb(var(--color-foreground));
}

.wholesale-order .mini-cart-sticky.active {
    display: flex;
}

.wholesale-order .error-massage {
    border-radius: 4px;
    display: none;
    padding: 8px 16px;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
    margin-bottom: 16px;
    color: #EB1C1F;
    font-family: ITCClearfaceRegular;
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
}

.wholesale-order .varient-select-item .error-massage {
    margin-left: 80px;
}

.wholesale-order .error-massage.active {
    display: flex;
}

.wholesale-order .temp-msg {
    display: none;
    padding: 12px 30px;
    align-items: center;
    gap: 12px;
    border-radius: 4px;
    background: rgba(20, 49, 92, 0.10);
    width: 100%;
    margin-top: 20px;
}

.wholesale-order .temp-msg.active {
    display: flex;
}

.wholesale-order .temp-msg .icon {
    width: 16px;
    height: 16px;
    display: flex;
    flex-wrap: wrap;
}

.wholesale-order .temp-msg .temp-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
}

/* GRID VIEW CSS */

.wholesale-order .product-list.grid .product-item-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 0px;
}

.wholesale-order .product-list.grid .product-header {
    display: none;
}
.wholesale-order .view-cart-btn a:hover {
    background: transparent;
    border-color: rgb(var(--color-button-secondary-text));
    color: rgb(var(--color-button-secondary-text));
    background-color: rgb(var(--color-button-secondary-background-hover));
}
.wholesale-order .product-list.grid .product-item-wrapper .product-item {
    width: 100%;
    border: none;
}

.wholesale-order .product-list.grid .variant-select-btn {
    display: none;
}

.wholesale-order .product-item.varient-select .quantity-selector,
.wholesale-order .product-list.grid .product-item.active .varient-select-item {
    display: none;
}

.wholesale-order .product-item.varient-select .variant-inner-item .quantity-selector {
    display: flex;
}

.wholesale-order .product-list.grid .product-item.varient-select .quantity-selector {
    display: flex;
}

.wholesale-filter-dropdown .filter-btn {
    padding: 13px 24px;
    min-width: 120px;
    cursor: pointer;
    background-color: rgb(var(--color-background-input));
    border-radius: var(--border-radius-button);
    position: relative;
    font-size: calc(var(--font-body-scale) * 1.6rem);
    line-height: var(--font-body-line-height);
    font-family: var(--font-body-family);
    font-style: var(--font-body-style);
    font-weight: var(--font-body-weight);
    letter-spacing: var(--font-body-letter-spacing);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    color: rgb(var(--color-foreground));
}
 .wholesale-filter-dropdown .filter-btn svg {
    transform: rotate(180deg);
}
.wholesale-filter-dropdown .filter-btn.active svg {
    transform: rotate(0deg);
}

.wholesale-filter-dropdown {
    position: relative;
}
.filter-menu {
    position: absolute;
    width: 210px;
    background-color: rgb(var(--color-background-input));
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    top: calc(100% + 4px);
    opacity: 0;
    visibility: hidden;
}

.wholesale-order .mobile-filter button.filter-btn {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.wholesale-order .filter-menu.active {
    opacity: 1;
    visibility: visible;
}

.wholesale-order .filter-menu label {
    padding: 12px 16px;
    display: flex;
    gap: 8px;
    cursor: pointer;
}

.wholesale-order input[type="checkbox" i] {
    width: 20px;
    height: 20px;
    border-width: 0;
    background-color: rgb(var(--color-background-secondary));
    appearance: none;
    border-radius: 50%;
}

#PopupModal-wholesale-filter-mobile.product-popup-modal[open] {
    opacity: 1;
    visibility: visible;
    z-index: 103;
    pointer-events: all;
}

#PopupModal-wholesale-filter-mobile.product-popup-modal {
    width: 100%;
    height: 100%;
    background-color: #00000080;
    box-sizing: border-box;
    opacity: 0;
    position: fixed;
    visibility: hidden;
    z-index: -1;
    margin: 0 auto;
    top: 0;
    left: 0;
    overflow: auto;
    pointer-events: none;
}

/* MEDIA QUERIES */

@media screen and (min-width: 576px) {
    .wholesale-order .product-list.grid .product-item-wrapper {
        gap: 40px;
    }
    .wholesale-order .product-list.grid .product-item-wrapper .product-item {
        width: calc(50% - 40px * 1 / 2);
        max-width: 330px;
    }
}

@media screen and (min-width: 768px) {
    .wholesale-order .product-list.grid .product-item-wrapper .product-item {
        width: calc(33.33% - 40px * 2 / 3);
    }
}

@media screen and (min-width: 1200px) {
    .wholesale-order .product-list.grid .product-item-wrapper .product-item {
        width: calc(33.33% - 165px * 2 / 3);
    }
   .wholesale-order .product-list.grid .product-item-wrapper {
        gap: 165px;
    }
}

@media screen and (min-width: 1441px) {
    .wholesale-order .product-list.grid .product-item-wrapper .product-item {
        width: calc(25% - 165px * 3 / 4);
    }
}

/* PRODUCT GRID DETAIL STYLES */

.wholesale-order .product-list.grid .product-item .product-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.wholesale-order .product-list.grid .product-wrap img {
    width: 100%;
    height: auto;
    aspect-ratio: 0.916667;
}

.wholesale-order .product-list.grid .product-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    padding-top: 4px;
    font-family: SaaSeriesED W05 Regular;
}

.wholesale-order .product-list.grid span.grid-price {
    display: flex;
    align-items: flex-start;
    gap: 30px;
}

.wholesale-order .product-list.grid span.grid-price div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.wholesale-order .product-list.grid span.grid-price div.sale-price {
    opacity: 0.6;
}

.wholesale-order .product-list.grid .product-details span.grid-title {
    font-size: 28px;
    font-weight: 400;
    line-height: 120%;
}

..wholesale-order .product-list.grid .product-details span.grid-title a {
    text-decoration: none;
    color: inherit;
}

.wholesale-order .product-list.grid span.grid-price span:last-child {
    font-size: 22px;
    font-weight: 400;
    line-height: 100%;
}

.wholesale-order .product-list.grid span.grid-price span {
    font-size: 12px;
    font-weight: 400;
    line-height: 100%;
}

.wholesale-order .product-list.grid .product-details span.grid-sku {
    font-size: 14px;
    font-weight: 400;
    line-height: 100%;
}

.wholesale-order .product-list.grid .product-item .product-wrapper .product-wrap span.title {
    display: none;
}

.wholesale-order .product-list.grid .product-item .product-wrapper .sku,
.wholesale-order .product-list.grid .product-item .product-wrapper .price,
.wholesale-order .product-details,
.wholesale-order .product-wrapper > span.grid-price {
    display: none;
}

.wholesale-order .product-list.grid .error-massage.active {
    align-items: flex-start;
}

.wholesale-order .price.sale-p-avail {
    font-weight: var(--font-subtitle-weight);
    font-size: calc(var(--font-body-scale) * 1.4rem);
}

/* RESPONSIVE STYLES */

@media only screen and (max-width: 1199px) {
    .wholesale-order .quantity-selector {
        min-width: unset;
        width: fit-content;
        padding: 12px 22px;
        gap: 18px;
    }
    .wholesale-order .product-header,
    .wholesale-order .product-item .product-wrapper {
        grid-template-columns: 3fr 1fr 1fr 1fr;
    }
    .wholesale-order .quantity-btn-wrap {
        flex-wrap: wrap;
    }
}

@media (max-width: 749px) {
    .wholesale-order .search-bar {
        padding: 20px 0 16px 0;
    }
    .wholesale-order .mobile-header {
        display: block;
    }
    .wholesale-order .product-wrapper  .button.variant-toggle {
        width: 100%;
    }
    .wholesale-order .searchbar {
        order: 1;
        gap: 8px;
    }
    .wholesale-order .custom-select,
    .wholesale-order .search-bar select,
    .wholesale-order .searchbar {
        width: 100%;
    }
    .wholesale-order .custom-select {
        width: 100%;
    }
    .wholesale-order .product-header {
        display: none;
    }
    .wholesale-order .product-wrap img {
        width: 70px;
        height: 70px;
    }
    .wholesale-order .quantity-btn-wrap {
        flex-wrap: nowrap;
    }
    .wholesale-order .product-item {
        border: 1px solid rgb(var(--color-border), 1);
        border-radius: var(--border-radius-main);
        margin-bottom: 16px;
    }
    .wholesale-order .product-item .product-wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 24px 20px;
        gap: 16px;
    }
    .wholesale-order .product-item.has-variants>.product-wrapper{
        border-radius: var(--border-radius-main);
        /* border: 1px solid rgb(var(--color-border), 1); */
        border-bottom-width: 0;
        margin-bottom: 0;
    }
    .wholesale-order .product-item.has-variants .product-item {
        border-width: 1px 0 0;
        margin: 0 20px;
        border-radius: 0;
    }
    /* .product-item.has-variants  {
        border-width: 0;
    } */
    .wholesale-order .error-massage {
        margin: 20px;
        align-items: flex-start;
    }
    .wholesale-order .varient-select-item .error-massage {
        margin: 20px;
    }
    .wholesale-order .product-wrap {
        gap: 16px;
    }
   .wholesale-order  .product-item .product-wrapper > span {
        width: 100%;
        padding: 10px 0 0;
        display: flex;
        justify-content: space-between;
        font-family: var(--font-subtitle-family);
        color: rgb(var(--color-foreground));
        font-size: calc(var(--font-body-scale) * 1.4rem);
    }
    .wholesale-order .product-item .product-wrapper span.mobile-header{
        font-size: calc(var(--font-body-scale) * 1.2rem);
        color: rgb(var(--color-foreground-secondary));  
    }
    .wholesale-order .quantity-btn-wrap > * {
        flex: 1 0 auto;
        width: 50%;
    }
    .wholesale-order .product-item-wrapper.inner-variant-pro-wrapper {
        padding-left: 0;
    }
    .wholesale-order .product-item .product-wrapper .product-wrap + .sku {
        border-top: 1px solid rgb(var(--color-border), 1);
    }
     .wholesale-filter-dropdown:not(.filter-drawer-inner .wholesale-filter-dropdown),
    .wholesale-order .custom-select {
        display: none;
    }
    .wholesale-order .mini-cart-sticky {
        padding: 16px 20px;
    }
}

.wholesale-order .product-item .product-wrapper > span.price {
    margin: 0;
}

.wholesale-order .product-item .product-wrapper > span.price:empty {
    display: none;
}

.wholesale-order .quantity-btn-wrap {
    gap: 10px;
    width: 100%;
}

.wholesale-order button.select-btn {
    flex: 1 0 auto;
}

.wholesale-order .quantity-selector {
    padding: 12px 22px;
    gap: 18px;
    justify-content: space-between;
}


.wholesale-order .product-item.varient-select > .product-wrapper > span {
    display: none;
}

.wholesale-order .variant-select-btn {
    width: 100%;
}

.wholesale-order .varient-select-item .product-wrap {
    padding-left: 0;
}

.wholesale-order .varient-select-item::after {
    display: none;
}

.wholesale-order .temp-msg.active {
    padding: 12px 30px;
    gap: 12px;
    position: fixed;
    bottom: 98px;
    left: 0;
    width: 100%;
    background: linear-gradient(0deg, rgba(20, 49, 92, 0.10) 0%, rgba(20, 49, 92, 0.10) 100%), #F2F2F2;
    align-items: center;
}

.wholesale-order .product-item.has-variants > .product-item-wrapper.inner-variant-pro-wrapper .product-item:last-child {
    border-bottom-width: 0px;
}

/* .product-item.has-variants > .product-wrapper {
    padding-left: 0;
    padding-right: 0;
    margin-left: 20px;
    margin-right: 20px;
} */
.wholesale-order .product-item.has-variants .product-item .product-wrapper {
    padding: 24px 0px;
}
.wholesale-order .tab_wrapper {
    margin-top: 20px;
}

/* MOBILE GRID FIXES */
.wholesale-order .product-list.grid .product-item-wrapper .product-item .product-wrapper > span {
    border: none;
}
 .product-popup-modal__dialog {
    overflow-y: auto;
    right: 0;
    transform: translate(100%);
    top: 0;
    left: unset;
    max-height: 100%;
    border-radius: 0;
    padding: 28px 24px 0;
    background-color: rgb(var(--color-background-secondary));
    gap: 36px;
    height: 100%;
    max-width: calc(100% - 20px);
    transition: .3s all;
    position: fixed;
    width: 100%;
}

.product-popup-modal[open] .product-popup-modal__dialog {
    transform: translate(0);
    background-color: rgb(var(--color-background));
    overflow-x: hidden;
}

/* FILTER DRAWER MOBILE */

.filter-btn.back-button svg {
    transform: rotate(-90deg);
}

 .filter-drawer-inner .filter-menu {
    background-color: transparent;
    width: 100%;
    top: 0;
    background-color: rgb(var(--color-background));
    border-radius: 0;
    z-index: 1;
    opacity: 0;
    left: 100%;
    visibility: hidden;
}

#PopupModal-wholesale-filter-mobile .mobile-sort-by .select-wrap {
    display: flex;
    position: relative;
    align-items: center;
}
#PopupModal-wholesale-filter-mobile .mobile-sort-by .select-wrap select option {
    opacity: 0;
    visibility: hidden;
}

#PopupModal-wholesale-filter-mobile .mobile-sort-by {
    padding: 15px 16px 15px 20px;
    border: 1px solid rgb(var(--color-border), 1);
    width: fit-content;
    border-radius: var(--border-radius-button);
    margin-top: 20px;
    min-width: 315px;
}

#PopupModal-wholesale-filter-mobile .mobile-sort-by .select-wrap .select-styled {
    background-color: transparent;
    border-radius: 0;
    min-width: unset;
    height: fit-content;
    padding: 0 8px 0 0px;
    font-family: var(--font-button-family);
    font-weight: var(--font-button-weight);
    letter-spacing: var(--font-button-letter-spacing);
    font-size: calc(var(--font-body-scale) * 1.2rem);
    color: rgb(var(--color-foreground));
}

#PopupModal-wholesale-filter-mobile .mobile-sort-by .select-wrap select:focus-visible {
    border-width: 0;
    outline: none;
}

#PopupModal-wholesale-filter-mobile .mobile-sort-by .select-wrap .select {
    border-width: 0;
    text-transform: uppercase;
    cursor: pointer;
    font-family: var(--font-button-family);
    font-weight: var(--font-button-weight);
    letter-spacing: var(--font-button-letter-spacing);
    color: rgb(var(--color-foreground));
    background: transparent;
    display: flex;
    gap: 54px;
    align-items: center;
    flex: 1 0 0;
    justify-content: space-between;
}
#PopupModal-wholesale-filter-mobile .mobile-sort-by .select-wrap .select svg{
    transform: rotate(180deg);
}
#PopupModal-wholesale-filter-mobile .mobile-sort-by .select-wrap .select span {
    font-family: var(--font-button-family);
    font-weight: var(--font-button-weight);
    letter-spacing: var(--font-button-letter-spacing);
    color: rgb(var(--color-foreground));
    font-size: calc(var(--font-body-scale) * 1.2rem);
}
#PopupModal-wholesale-filter-mobile .mobile-sort-by .select-wrap .select.active svg{
    transform: rotate(0deg);
}
#PopupModal-wholesale-filter-mobile .filter-btn-grp .apply.button--secondary {
    border: none;
    background-color: rgb(var(--color-button-secondary-background-hover));
}

#PopupModal-wholesale-filter-mobile .filter-btn-grp .apply.button--secondary:hover {
    background-color: rgb(var(--color-button-secondary-background));
}

#PopupModal-wholesale-filter-mobile .filter-btn-grp .clear-btn.button--secondary[disabled] {
    border: 1px solid rgb(var(--color-border));
    background: transparent;
    color: rgb(var(--color-foreground));
}

.filter-drawer-inner .filter-menu.active {
    opacity: 1;
    left: 0;
    visibility: visible;
}

 .filter-menu input[type="checkbox" i] {
    background-color: rgb(var(--color-background-input));
    cursor: pointer;
    position: relative;
}
.desktop-filter-menu.filter-menu input[type=checkbox i] {
    background-color: rgb(var(--color-border));
}
 .filter-menu input[type="checkbox" i]::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 10px;
    background-color: rgb(var(--color-foreground));
    border-radius: 50%;
    opacity: 0;
    visibility: hidden;
    transform: translate(-50%, -50%);
}

 .filter-menu input[type="checkbox"]:checked::after {
    opacity: 1;
    visibility: visible;
}

.filter-drawer-inner .filter-menu label {
    padding: 0 0;
}

.filter-drawer-inner .filter-grp-wrap {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.filter-drawer-inner .wholesale-filter-dropdown .filter-btn {
    padding: 20px 0;
    border-radius: 0;
    background-color: transparent;
    border: 1px solid rgb(var(--color-border), 1);
    border-width: 1px 0;
    width: 100%;
}

.filter-drawer-inner .wholesale-filter-dropdown .filter-btn.back-button {
    border-width: 0;
    background-color: transparent;
    padding: 13px 0;
    justify-content: flex-start;
    gap: 8px;
}

.filter-drawer-inner .wholesale-filter-dropdown .filter-btn.back-button svg {
    transform: rotate(-90deg);
}

.filter-drawer-inner .wholesale-filter-dropdown .filter-btn.button svg {
    transform: rotate(90deg);
}

.filter-btn-grp {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 16px 24px;
}

.filter-btn-grp .btn-wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.filter-popup-modal__title .filter-title {
    color: rgb(var(--color-foreground));
    margin: 0 0;
}

.filter-popup-modal__title {
    padding: 24px 20px 24px 24px;
    background-color: transparent;
    margin-left: -24px;
    margin-right: -20px;
    width: calc(100% + 44px);
}

.filter-result {
    margin-top: 8px;
    display: block;
    color: rgb(var(--color-foreground-secondary));
}

#PopupModal-wholesale-filter-mobile .modal-close-button {
    position: absolute;
    top: 24px;
    right: 24px;
}

@media screen and (min-width: 750px) {

    .Wholesale-popup-modal.laptop-hide {
        display: none;
    }
    #PopupModal-wholesale-filter-mobile .product-popup-modal__dialog {
        padding: 0px 24px 0 24px;
        width: 720px;
        max-width: 720px;
        gap: 48px;
    }
}

.wholesale-order .serach_result {
    text-align: center;
    margin: 50px 0;
}
.wholesale-order .serach_result.hide{
    display: none;
}
.wholesale-order .serach_result:not(.hide) ~ * {
    display: none !important;
}
